page-home {




      font-family: 'Open Sans', sans-serif;

      font-family: 'Source Sans Pro', sans-serif;

      .CardClass{
            background-color: #f6f6f6f1;
            margin-bottom: 20px;
      }
}
