<!--
  Generated template for the BresultadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cantidad de Materiales </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="construct" item-start></ion-icon>
        Resumen de Materiales
    </ion-item>
  </ion-list>
    <ion-grid style="padding-bottom:10px;">
      <p style="font-size:13px; color:rgb(98, 98, 99); text-align:center; ">Cantidad de materales necesarios para <strong>{{ Area | number : '1.2-2'}} m2</strong> de Mamposteria en Bloques</p>
        <table >
            <thead class="THTable" >
              <tr >
                  <th>No.</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Sub-Total</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let materials of arrayMatMamp; let i = index">
                <td>1</td>
                <td style="text-align:left;">
                    <P> {{ materials.description }} </P>

                </td>
                <td >
                    <P>{{   materials.amount * materials.base *  materials.height | number : '1.2-2'}} ud</P>
                </td>
                <td>
                    <P>{{   materials.amount * materials.base *  materials.height | number : '1.0-0'}} ud</P>
 
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td style="text-align:left;">
                  <P>{{ mampMaterials0[1].description}}</P>

                </td>
                <td>
                  <P>{{  mampMaterials0[1].Cant | number : '1.2-2'}} qq</P>

                </td>
                <td>
                  <P>{{ mampMaterials0[1].Cant | number : '1.1-1'}} qq</P>

                </td>
              </tr>
              <tr >
                <td style="background-color:#2980b9; color:#ecf0f1;">3</td>
                <td style="text-align:left;">
                <P>{{ mampMaterials0[2].description}}</P>

              </td>
              <td >
                <P>{{  mampMaterials0[2].Cant | number : '1.2-2'}} m <sub>3</sub></P>

              </td>
              <td>
                <P>{{  mampMaterials0[2].Cant | number : '1.0-1'}} m <sub>3</sub></P>

              </td>
            </tr>

              <tr>
                  <td style=" color:#2980b9;">3.1</td>
                  <td style="text-align:left;">
                  <P>{{ mampMaterials0[3].description}}</P>

                </td>
                <td>
                  <P>{{  mampMaterials0[3].Cant | number : '1.2-2'}} m <sub>3</sub></P>

                </td>
                <td>
                  <P>{{ mampMaterials0[3].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                </td>
              </tr>
              <tr>
                  <td style=" color:#2980b9;">3.2</td>
                  <td style="text-align:left;">
                  <P>{{ mampMaterials0[4].description}}</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[4].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                </td>
                <td>
                  <P>{{  mampMaterials0[4].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                </td>
              </tr>

              
              <tr>
                  <td>4</td>
                  <td style="text-align:left;">
                  <P>{{ mampMaterials0[5].description}}</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[5].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                </td>
                <td>
                  <P>{{  mampMaterials0[5].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                </td>
              </tr>
              <tr>
                  <td>5</td>
                  <td style="text-align:left;">
                  <P>{{ mampMaterials0[6].description}}</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[6].Cant | number : '1.2-2'}} fds</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[6].Cant | number : '1.0-1'}} fds</P>
                </td>
              </tr>
              <tr>
                  <td>6</td>
                  <td style="text-align:left;">
                  <P>{{ mampMaterials0[7].description}}</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[7].Cant | number : '1.2-2'}} lb</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[7].Cant | number : '1.0-1'}} lb</P>
                </td>
              </tr>
              <tr>
                  <td>7</td>
                  <td style="text-align:left;">
                  <P>{{ mampMaterials0[8].description}}</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[8].Cant | number : '1.2-2'}} gls</P>
                </td>
                <td>
                  <P>{{  mampMaterials0[8].Cant | number : '1.0-0'}} gls</P>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="font-size:13px; color:rgb(98, 98, 99); text-align:center; ">Resumen de materales necesarios para <strong>{{ Area | number : '1.2-2'}} m2</strong> de Mamposteria en Bloques</p>
    </ion-grid> 

      <div style="text-align:center;">
        <button ion-button style="width:120px; padding-bottom:5px;" (click)="SaveDate(materials)">Guardar</button>
      </div>

      <div style="text-align:center;">
          <button ion-button style="width:120px;" (click)="SendDateEmail()">Enviar</button>
        </div>

        <div style="text-align:center;">
          <button ion-button style="width:120px;" (click)="deletematerials(1)">Delete</button>
        </div>


  
 <!-- <ion-list>
    <ion-item-divider>
      Resultados 
    </ion-item-divider>
  </ion-list>
  <div>
    <p > Base: {{ Base }} </p>
    <p > Altura: {{ Altura }} </p>
    <p > Espesor: {{ Espesor }} </p>
    <p > </p>
    <h1> Resultado:  {{ Altura * Base * Espesor }}</h1>
  </div>-->


</ion-content>

        <!--        <table >
            <thead class="THTable" >
              <tr >
                  <th>No.</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Sub-Total</th>
              </tr>
            </thead>
      
            <tbody>
              <tr>
                <td>1</td>
                <td style="text-align:left;">
                    <P> {{ mampMaterials0[0].description }} </P>

                </td>
                <td >
                    <P *ngIf="Espesor == 0.039">{{ mampMaterials0[0].Cant | number : '1.2-2'}} ud</P>
                    <P *ngIf="Espesor == 0.031">{{ mampMaterials1[0].Cant | number : '1.2-2'}} ud</P>
                    <P *ngIf="Espesor == 0.029">{{ mampMaterials2[0].Cant | number : '1.2-2'}} ud</P>
                </td>
                <td>
                    <P *ngIf="Espesor == 0.039">{{  mampMaterials0[0].Cant | number : '1.0-0'}} ud</P>
                    <P *ngIf="Espesor == 0.031">{{  mampMaterials1[0].Cant | number : '1.0-0'}} ud</P>
                    <P *ngIf="Espesor == 0.029">{{  mampMaterials2[0].Cant | number : '1.0-0'}} ud</P>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[1].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[1].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[1].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[1].Cant | number : '1.2-2'}} qq</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[1].Cant | number : '1.2-2'}} qq</P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[1].Cant | number : '1.2-2'}} qq</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[1].Cant | number : '1.1-1'}} qq</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[1].Cant | number : '1.1-1'}} qq</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[1].Cant | number : '1.1-1'}} qq</P>
                </td>
              </tr>
              <tr >
                <td style="background-color:#2980b9; color:#ecf0f1;">3</td>
                <td style="text-align:left;">
                <P *ngIf="Espesor == 0.039">{{ mampMaterials0[2].description}}</P>
                <P *ngIf="Espesor == 0.031">{{ mampMaterials1[2].description}}</P>
                <P *ngIf="Espesor == 0.029">{{ mampMaterials2[2].description}}</P>
              </td>
              <td >
                <P *ngIf="Espesor == 0.039">{{  mampMaterials0[2].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                <P *ngIf="Espesor == 0.031">{{  mampMaterials1[2].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                <P *ngIf="Espesor == 0.029">{{  mampMaterials2[2].Cant | number : '1.2-2'}} m <sub>3</sub></P>
              </td>
              <td>
                <P *ngIf="Espesor == 0.039">{{  mampMaterials0[2].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                <P *ngIf="Espesor == 0.031">{{  mampMaterials1[2].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                <P *ngIf="Espesor == 0.029">{{  mampMaterials2[2].Cant | number : '1.0-1'}} m <sub>3</sub></P>
              </td>
            </tr>

              <tr>
                  <td style=" color:#2980b9;">3.1</td>
                  <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[3].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[3].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[3].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[3].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[3].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[3].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[3].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[3].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[3].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                </td>
              </tr>
              <tr>
                  <td style=" color:#2980b9;">3.2</td>
                  <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[4].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[4].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[4].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[4].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[4].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[4].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[4].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[4].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[4].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                </td>
              </tr>

              
              <tr>
                  <td>4</td>
                  <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[5].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[5].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[5].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[5].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[5].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[5].Cant | number : '1.2-2'}} m <sub>3</sub></P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[5].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[5].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[5].Cant | number : '1.0-1'}} m <sub>3</sub></P>
                </td>
              </tr>
              <tr>
                  <td>5</td>
                  <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[6].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[6].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[6].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[6].Cant | number : '1.2-2'}} fds</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[6].Cant | number : '1.2-2'}} fds</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[6].Cant | number : '1.2-2'}} fds</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[6].Cant | number : '1.0-1'}} fds</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[6].Cant | number : '1.0-1'}} fds</P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[6].Cant | number : '1.0-1'}} fds</P>
                </td>
              </tr>
              <tr>
                  <td>6</td>
                  <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[7].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[7].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[7].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[7].Cant | number : '1.2-2'}} lb</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[7].Cant | number : '1.2-2'}} lb</P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[7].Cant | number : '1.2-2'}} lb</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[7].Cant | number : '1.0-1'}} lb</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[7].Cant | number : '1.0-1'}} lb</P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[7].Cant | number : '1.0-1'}} lb</P>
                </td>
              </tr>
              <tr>
                  <td>7</td>
                  <td style="text-align:left;">
                  <P *ngIf="Espesor == 0.039">{{ mampMaterials0[8].description}}</P>
                  <P *ngIf="Espesor == 0.031">{{ mampMaterials1[8].description}}</P>
                  <P *ngIf="Espesor == 0.029">{{ mampMaterials2[8].description}}</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039">{{  mampMaterials0[8].Cant | number : '1.2-2'}} gls</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[8].Cant | number : '1.2-2'}} gls</P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[8].Cant | number : '1.2-2'}} gls</P>
                </td>
                <td>
                  <P *ngIf="Espesor == 0.039" id="MAgua0">{{  mampMaterials0[8].Cant | number : '1.0-0'}} gls</P>
                  <P *ngIf="Espesor == 0.031">{{  mampMaterials1[8].Cant | number : '1.0-0'}} gls</P>
                  <P *ngIf="Espesor == 0.029">{{  mampMaterials2[8].Cant | number : '1.0-0'}} gls</P>
                </td>
              </tr>
            </tbody>
          </table>-->


        